@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#292420] bg-[#f0d09a];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply underline underline-offset-4;
}

h1 {
  @apply font-semibold;
  font-size: max(40px, min(5vw, 60px));
}

h2 {
  @apply font-semibold;
  font-size: max(20px, min(2vw, 40px));
}

img {
  @apply p-4;
  border: 0.5px solid #2c2622;
}

p,
li,
textarea {
  font-size: max(16px, min(2vw, 20px));
}

textarea {
  @apply bg-transparent border-b-4 border-b-slate-500 border-dashed;
}

strong {
  @apply font-semibold;
}

.bg-primary {
  background-color: #e5e5f7;
  background-image: radial-gradient(#32487e 2px, transparent 2px),
    radial-gradient(#32487e 2px, #e5e5f7 2px);
  background-size: 80px 80px;
  background-position:
    0 0,
    40px 40px;
}
