@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply text-[#292420] bg-[#faefdd];
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply underline underline-offset-4;
}

a:hover {
  @apply no-underline;
}

h1 {
  @apply font-semibold;
  font-size: max(40px, min(5vw, 60px));
}

h2 {
  @apply font-semibold;
  font-size: max(20px, min(2vw, 40px));
}

img {
  @apply p-4;
  border: 0.5px solid #2c2622;
}

p,
li,
textarea {
  font-size: max(16px, min(2vw, 20px));
}

textarea {
  @apply bg-transparent border-b-4 border-b-slate-500 border-dashed;
}

strong {
  @apply font-semibold;
}
