@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-rgb: 250, 239, 221;
  --foreground-rgb: 0, 0, 0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-rgb: 29, 31, 34;
    --foreground-rgb: 255, 255, 255;
  }
}

body {
  background-color: rgb(var(--background-rgb));
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

a {
  @apply underline underline-offset-4;
}

a:hover {
  @apply no-underline;
}

h1 {
  @apply font-semibold;
  font-size: max(40px, min(5vw, 60px));
}

h2 {
  @apply font-semibold;
  font-size: max(20px, min(2vw, 40px));
}

img {
  @apply p-4;
  border: 0.5px solid rgb(var(--foreground-rgb));
}

p,
li,
textarea {
  font-size: max(16px, min(2vw, 20px));
}

textarea {
  @apply bg-transparent border-b-4 border-b-slate-500 border-dashed;
}

strong {
  @apply font-semibold;
}
